<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javasecurity.api.app.mapper.UserMapper">
    <select id="getUserList" resultType="User">
        SELECT
            USER_NO,
            USER_ID,
            PASSWORD,
            REFRESH_TOKEN,
            REMARK,
            CREATE_DTM,
            UPDATE_DTM
        FROM
            TBL_USER
    </select>

    <select id="getUserByUserId" resultType="User">
        SELECT
            USER_NO,
            USER_ID,
            PASSWORD,
            REFRESH_TOKEN,
            REMARK,
            CREATE_DTM,
            UPDATE_DTM
        FROM
            TBL_USER
        WHERE
            USER_ID = #{ userId }
    </select>

    <insert id="saveUserInfo" parameterType="User">
        INSERT INTO TBL_USER (
            USER_ID,
            PASSWORD,
            REMARK,
            CREATE_DTM,
            UPDATE_DTM
        ) VALUES (
                     #{ userId },
                     #{ password },
                     #{ remark },
                     NOW(),
                     NOW()
                 )
            ON CONFLICT (USER_NO) -- 중복 키를 체크할 열 지정
            DO UPDATE SET
            PASSWORD = EXCLUDED.PASSWORD,  -- 새로운 값으로 업데이트
                   REFRESH_TOKEN = #{ refreshToken },
                   REMARK = EXCLUDED.REMARK,
                   UPDATE_DTM = NOW()
        ;
    </insert>
</mapper>